<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row "style="margin-top: 20px">
      <div class="col-md-6 offset-md-3">
        <!--        <mat-card>-->
        <div class="container text-center">
<!--          <img src="../../../assets/logoo.png" alt="" style="width: 200px; height: 100px;">-->
          <img src="assets/images/Screenshot%20from%202023-12-11%2010-05-08.jpg" alt="" style="width :200px;height: 200px;">
        </div>
        <h1 class="text-center">Login Here !!</h1>
<!--        {{loginData| json}}-->
        <form  (ngSubmit)="formSubmit()">
          <!--      user field  /-->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>User Name</mat-label>
            <input
              [(ngModel)]="loginData.username"
              name="username"
              matInput placeholder="Enter here">
            <mat-hint>Valid username</mat-hint>
          </mat-form-field>
          <!--        password field-->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input
              [(ngModel)]="loginData.password"
              name="password"
              type="password" matInput placeholder="Enter here">
          </mat-form-field>



          <div class="container text-center">
            <button  type="submit" mat-raised-button color="primary">Login</button>
            <button style="margin-left: 10px" mat-raised-button color="accent">Reset</button>
            <div class="col-md-12">
              <div class="mt-20">
                <div class="row" >
                  <div class="col-md-12">
                    <p>Dont have an account ?</p>
                    <button   routerLink="/signup" mat-button >Register</button>
                  </div>

                </div>




              </div>

            </div>
<!--        </form>-->
          </div>
        </form>

        <!--        </mat-card>-->

      </div>
    </div>
  </div>
</div>
